<div class="card h-100 shadow-sm">
      
    <div class="card-body d-flex flex-column">
        <a href="#">
            <h6 class="text-uppercase">{{medicine.name}}</h6>
        </a>
        <span class="mb-2">{{medicine.price | currency: "INR"}}</span>
           
        <div class="btn-group mt-auto">
          <button routerLink="/medicine/{{medicine.id}}" type="button" class="btn btn-outline-secondary mr-2">View</button>
          <button routerLink="/medicine/edit/{{medicine.id}}" type="button" class="btn btn-outline-secondary mr-2">Edit</button>          
        </div>
              
    </div>
</div>