<form novalidate name="form" (ngSubmit)="submit()" #f="ngForm" autocomplete="off">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" id="name" [(ngModel)]="medicine.name" name="name" type="text" required/>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input class="form-control" id="price" [(ngModel)]="medicine.price" name="price" type="number"  required/>
                    </div>
                    <div class="form-group">
                        <label for="brand">Brand</label>
                        <input class="form-control" id="brand" [(ngModel)]="medicine.brand" type="text" name="brand" required/>
                    </div>
                    <div class="form-group">
                        <label for="expiryDate">Expiry Date</label>
                        <input class="form-control" id="expiryDate" [(ngModel)]="medicine.expiryDate" name="expiryDate" type="datetime" required/>
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input class="form-control" id="quantity" [(ngModel)]="medicine.quantity" name="quantity" type="number" required/>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" [(ngModel)]="medicine.text" name="text" type="text"></textarea>
                    </div>
                    <button class="btn btn-primary mr-3" routerLink="/medicine"> Go Back</button>
                    <button class="btn btn-primary" type="submit" [disabled]="!f.form.valid"> Save</button>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</form>